.venv*/
env*/
venv*/
dataset/
*.pt
test.py
runs/
__pycache__/
*.log
.env
dist/
build/
*.spec
.vscode/
.idea/
node_modules/
config.h
*.key
*.pem
.pio
.agents/
skills-lock.json
theme.xml
uploads/
misclassified_images/