API_KEY=YOUR_API_KEY_HERE
DB_URL=mysql+aiomysql://YOUR_DB_USER:YOUR_DB_PASSWORD@YOUR_DB_HOST:3306/YOUR_DB_NAME
CORS_ALLOW_ORIGINS=http://localhost:5173
ESP32_GROUP_CALLBACK_URL=http://IP_ESP32/api/classify