<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Test AI</title>
	</head>
	<body>
		<!-- Upload image -->
		<form action="/predict" method="post" enctype="multipart/form-data">
			<input type="file" name="image" accept="image/*" required />
			<button type="submit">Upload Image</button>
		</form>

		{% if klass %}
		<h2>Class: {{ klass }}</h2>
		{% endif %} 
		{% if confidence %}
		<h2>Confidence: {{ confidence }}</h2>
		{% endif %}
		{% if original_image %}
  			<img src="data:image/jpeg;base64,{{ original_image }}" alt="Ảnh gốc" style="width: 300px; height: auto">
  			<img src="data:image/jpeg;base64,{{ preprocessed_image }}" alt="Ảnh sau xử lý" style="width: 300px; height: auto">
		{% endif %}
		<p>Loại: {{ klass }} → {{ bin }}</p>
	</body>
</html>
